	<footer>
			<article class="col_pad_left2">
				<h5>Follow Us</h5>
				<ul class="icons">
					<li><a href="#"><img src="images/icon1.jpg" alt="">Facebook</a></li>
					<li><a href="#"><img src="images/icon2.jpg" alt="">Stumleupon</a></li>
					<li><a href="#"><img src="images/icon3.jpg" alt="">Twitter</a></li>
					<li><a href="#"><img src="images/icon4.jpg" alt="">Digg</a></li>
					<li><a href="#"><img src="images/icon5.jpg" alt="">RSS Feed</a></li>
				</table>
			</article>
		</div>
	</footer>