<nav id="nav">	
	<ul>		
	
		<li>
			<a href="$link.contextPath"><span>#if($home==1)<u>#end #springMessage('menu.home') #if($home==1)</u>#end</span></a>
		</li>
		<li>
			<a href="$link.contextPath/book"><span>#springMessage('menu.book')</span></a>
		</li>
		<li>
			<a href="$link.contextPath/about"><span>#springMessage('menu.about')</span></a>
		</li>
		<li>
			<a href="$link.contextPath/contact"><span>#springMessage('menu.contact')</span></a>
		</li>
	</ul>
</nav> 