<html>
	#parse("head.vm")
	<body id="page1">
	<div class="main">
		#parse("header.vm")
		#tiles_insertAttribute({"name":"body"})#end
		#parse("content.vm")
		#parse("footer.vm")	
	</div>	
	</body>
</html>